/*
** Main
*/

@import 'tailwind.scss';

/*
** GLOBAL CSS STYLING
*/

@layer base {
	body {
		@apply min-h-screen bg-white dark:bg-gray-900;
		@apply text-black dark:text-white;
  }
}

body,
html {
  font-family:
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	overscroll-behavior: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}

.bug {
	background: #92BC2C;
}

.dark {
	background: #595761;
}

.dragon {
	background: #0C69C8;
}

.electric {
	background: #F2D94E;
}

.fire {
	background: #FBA54C;
}

.fairy {
	background: #EE90E6;
}

.fighting {
	background: #D3425F;
}

.flying {
	background: #A1BBEC;
}

.ghost {
	background: #5F6DBC;
}

.grass {
	background:rgba(5, 150, 105, 1);
}

.ground {
	background: #DA7C4D;
}

.ice {
	background: #75D0C1;
}

.normal {
	background: #A0A29F;
}

.poison {
	background: #B763CF;
}

.psychic {
	background: #FA8581;
}

.rock {
	background: #C9BB8A;
}

.steel {
	background: #5695A3;
}

.water {
	background: #539DDF;
}
